* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background: #3674be;
    min-height: 100vh;
}

.img-box {
    position: absolute;
    left: -60%;
    top: 50%;
    transform: translateY(-50%);
    width: 1300px;
    height: 1300px;
}

.img-box .img-list {
    height: inherit;
    transform: rotate(-120deg);
}

.img-list .img-slider {
    height: inherit;
}

.img-slider .img-item {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(calc(-360deg / 6 * var(--i))) scale(.8);
    transform-origin: 650px;
}

.img-slider .img-item.active {
    transform: translateY(-50%) rotate(calc(-360deg / 6 * var(--i))) scale(1) translateX(-63%);
    z-index: 1;
}

.img-item .item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-item .item img {
    transform: rotate(calc(360deg / 6 * var(--i))) rotate(120deg);
    filter: blur(8px);
}

.img-item.active .item img {
    filter: blur(0);
}











